<div class="container">

  <div class="card-header">
    <h4>Cadastro de Empresa</h4>
  </div>

  <div class="card">

    <div class="card-body">
      
      <mat-form [formGroup]="form" (ngSubmit)="save()" class="form">
        
        <div class="form-group">
          <mat-form-field [style.width.px]=330 appearance="fill">
            <mat-label for="razaoSocial">Razão Social:</mat-label>
            <input matInput type="text" formControlName="razaoSocial" id="razaoSocial" class="form-control">
          </mat-form-field>
        </div>
        
        <div class="form-group">
          <mat-form-field [style.width.px]=200 appearance="fill">
          <mat-label for="cnpj">CNPJ:</mat-label>
          <input matInput type="text" formControlName="cnpj" id="cnpj" class="form-control" [textMask]="{mask: cnpjMask}">
          </mat-form-field>
        </div>
        
        <div class="form-group">
          <mat-form-field [style.width.px]=400 appearance="fill">
          <mat-label for="endereco">Endereço:</mat-label>
          <input matInput type="text" formControlName="endereco" id="endereco" class="form-control">
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field [style.width.px]=200 appearance="fill">
          <mat-label for="ramoNegocio">Ramo de negócio:</mat-label>
          <mat-select formControlName="ramoNegocio">
            <mat-option *ngFor="let ramo of ramosNegocio" [value]="ramo.id">{{ ramo.descricao }}</mat-option>
          </mat-select>
          </mat-form-field>
        </div>      
      
        <div class="form-group-button">
          <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">
            Salvar
          </button>
        </div>
      </mat-form>
          
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">

      <mat-table class="table table-striped" [dataSource]="empresas">
        <ng-container matColumnDef="razaoSocial">
          <mat-header-cell *matHeaderCellDef>Razão Social</mat-header-cell>
          <mat-cell *matCellDef="let empresa">{{ empresa.razaoSocial }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="cnpj">
          <mat-header-cell *matHeaderCellDef>CNPJ</mat-header-cell>
          <mat-cell *matCellDef="let empresa">{{ empresa.cnpj }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="endereco">
          <mat-header-cell *matHeaderCellDef>Endereço</mat-header-cell>
          <mat-cell *matCellDef="let empresa">{{ empresa.endereco }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ramo">
          <mat-header-cell *matHeaderCellDef>Ramo de negócio</mat-header-cell>
          <mat-cell *matCellDef="let empresa">{{ empresa.ramoNegocio.descricao }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="acoes">
          <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
          <mat-cell *matCellDef="let empresa">
            <button class="btn btn-primary" [routerLink]="['/empresa', empresa.id, 'editar']">Editar</button>
            <button class="btn btn-danger" (click)="removerEmpresa(empresa)">Remover</button>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="['razaoSocial', 'cnpj', 'endereco', 'ramo', 'acoes']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['razaoSocial', 'cnpj', 'endereco', 'ramo', 'acoes']"></mat-row>
      </mat-table>
      
    </div>
  </div>

</div>
