<mat-toolbar class="toolbar">
    
    <div class="tab-group">
        <mat-tab-group>
            <mat-tab label="Dashboard" routerLink="/dashboard"></mat-tab>
            <mat-tab label="Empresas" routerLink="/empresas"></mat-tab>
        </mat-tab-group>
    </div>

    <div class="logo">        
        <a class="navbar-brand" href="#">
            <img
              src="../../assets/logo/Marca_FIESC Completa.png"
              height="50"
            />
          </a>
    </div>

    <div></div>

</mat-toolbar>
  