.toolbar { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
}

.tab-group {
  display: flex;
  align-items: center;
  align-content: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  align-content: center;
}

.logo {
  display: flex;
  margin-left: -200px;
}

  