<mat-toolbar class="toolbar">
    
    <div class="tab-group">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
                <span (click)="goto('dashboard')">Dashboard</span>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
                <span (click)="goto('empresas')">Empresas</span>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
    </div>

    <div class="logo">        
        <a class="navbar-brand" href="#">
            <img
              src="../../assets/logo/icon-angular.png"
              height="50"
            />
          </a>
    </div>

    <div></div>

</mat-toolbar>
  